html{
    font-size: 62.5%;
}

@font-face{
    font-family: "GothamBook";
    src: url(../assets/fonts/Gotham-Font/GothamBook.ttf);
}
@font-face{
    font-family: "GothamBlack";
    src: url(../assets/fonts/Gotham-Font/Gotham-Black.otf);

}
@font-face{
    font-family: "GothamBold";
    src: url(../assets/fonts/Gotham-Font/Gotham-Bold.otf);
}

@font-face{
    font-family: "GothamLight";
    src: url(../assets/fonts/Gotham-Font/Gotham-Light.otf);
}

.last{
    font-family: "GothamBold";
    font-size: 25px;
    color: white;
    background-color: rgb(216, 102, 19);
    width: fit-content; 
    padding: 0px 3px 0px 3px ;
    margin: 70px 0 30px 6px;
}

a{
    text-decoration: none;
}

